.color-sort-popup {
    position: relative;

    &.help {
        min-height: 200px;
    }

    .color-picker {
        height: 34px;
        padding: 0.25em 0.5em;
    }

    .close-button {
        position: absolute;
        top: 0;
        right: 1em;
        background-color: rgba(255, 255, 255, 0.5);
        font-weight: bold;
    }
}

.available-colors-item {
    $size: 30px;
    display: inline-block;
    height: $size;
    width: $size;
    border-radius: 50%;
    margin: 0 0.5em 0.5em 0;
    cursor: pointer;

    &.active {
        border: 1px solid #777;
        padding: 3px;
        background-clip: content-box;
    }
}

.new-color-form {
    display: inline-block;
}

.available-colors-list {
    max-height: 150px;
    overflow-y: auto;
}

.color-sort-popup-help {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: white;
}
